<!DOCTYPE html>
<html>
  <head>
    <title>PrebillReact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <script>
      window.message = <%== flash.to_hash.to_json %>
    </script>
  </body>
</html>
